@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800;900&display=swap');

/* variables in root  */
:root {
    --main-radius: 5px;
    --main-padding:5px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}


.container {
    height: 100vh;
    display: grid;
    gap: 0.2rem;
    grid-template-columns: 4(repeat, 1fr);
    grid-template-rows: 0.2fr 3fr 0.8fr;
    /* using grid-template property 
    grid-template: 
    "header header header header" 0.2fr
    "nav main ads" 3fr
    "footer footer footer" 0.8fr /
    1fr 1fr 1fr 1fr;*/
}

.element {
    background-color: gray;
    border: 15px green solid;
    padding: 25px;
    border-radius: var(--main-radius);
    padding: var(--main-padding); 
}

.header {
    /* this is shortcut for grid-column-start and grid-column-end properties
     */
    grid-row: 1/2;
    grid-column: 1/5;
    /* I can also use grid-area property as a shortcut: row star / column start / row end / column end */
    /* grid-area: 1 / 1 / 2 / 4 */
    /* using grid-template property 
    grid-area: header; */
}

.nav {
    grid-column: 1/2;
    grid-row: 2/3;
    /* using grid-template property 
    grid-area: nav; */
}

.main {
    grid-column: 2/4;
    grid-row: 2/3;
    /* using grid-template property 
    grid-area: main; */
}

.ads {
    grid-column: 4/5;
    grid-row: 2/3;
    /* using grid-template property 
    grid-area: ads; */
}

.footer {
    grid-column: 1/5;
    grid-row: 3/4;
    /* using grid-template property 
    grid-area: footer; */
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template: 
            "header" 1fr
            "nav" 1fr
            "main" 1fr
            "ads" 1fr
            "footer" 1fr /
            1fr;
        }

        .header{
            grid-area:header;
        }

        .nav{
            grid-area:nav;
        }

        .main{
            grid-area:main;
        }

        .ads{
            grid-area:ads;
        }

        .footer{
            grid-area:footer;
        }
}